
@import url(../lib/jst/dom/gui.css);

.Application {
    background-image: linear-gradient(to bottom, #f5f7fa, #c3cfe2);
}

.AppHeader {
    position: relative;
    height: calc(10% - 10px);
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
    z-index: 2;
}
.AppHeader .MainHeader, .AppHeader .SubHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.AppHeader > .Seperator {
    flex: 1;
}
.AppHeader .MainHeader .Title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
}

.AppHeader .SubHeader .Title {
    font-weight: bold;
}
.AppHeader .SubHeader .Categories {
    display: flex;
    gap: 5px;
}
.AppHeader .SubHeader .Categories .Category {
    cursor: pointer;
    text-underline-offset: 2px;
}
.AppHeader .SubHeader .Categories .Category:hover {
    color: #ff0000;
    text-decoration: 2px underline;
}
.AppHeader .SubHeader .Categories .Category.Active {
    text-decoration: 2px underline;
}
.AppHeader .SubHeader .Categories .Seperator:last-child {
    display: none;
}
.AppHeader .SubHeader .Description {
    position: absolute;
    display: none;
    left: 0;
    top: 50px;
    padding: 5px;
    font-size: 0.9em;
    font-style: italic;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.AppBody {
    position: relative;
    display: grid;
    height: 90%;
    padding: 5px;
    gap: 5px;
    z-index: 1;
}

.AppBody .Tooltip {
    position: absolute;
    display: none;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9em;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.AppBody .Tooltip .Title {
    margin: 0;
    font-weight: bold;
}
.AppBody .Tooltip .Content div {
    margin-top: 4px;
}
.AppBody .Tooltip .Content .Label::after {
    content: ":";
    margin-right: 4px;
}
.AppBody .Tooltip .Content .Text::after {
    content: "%";
}
.AppBody .Tooltip .Label {
    margin: 0;
}

.AppBody .MapContainer {
    position: relative;
    /* background-color: rgba(0, 0, 255, 0.3); */
}
.AppBody .MapContainer .Name {
    position: absolute;
    bottom: 5px;
    margin: 0;
}
.AppBody .MapContainer .Map path {
    stroke: #000;
    stroke-width: 2px;
}
.AppBody .Tooltip .Content .FrontBar {
    filter: drop-shadow(-1px 0px 1px rgba(0,0,0,0.5));
}