
@import url(../lib/jst/dom/gui.css);

.Application {
    background-image: linear-gradient(to bottom, #f5f7fa, #c3cfe2);
}

.AppHeader {
    padding: 5px;
    height: calc(10% - 10px);
    display: flex;
    align-items: center;
}
.AppHeader .MainHeader {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 5px;
}
.AppHeader .Title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
}
.AppHeader .Subtitle {
    /* font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em; */
}

.AppBody {
    display: grid;
    height: calc(90% - 10px);
    padding: 5px;
    gap: 5px 10px;
}

.AppBody .Tooltip {
    position: absolute;
    display: none;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9em;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.AppBody .Tooltip .Title {
    margin: 0 0 4px 0;
    font-weight: bold;
}
.AppBody .Tooltip .Content .Label::after {
    content: ":";
    margin-right: 4px;
}
.AppBody .Tooltip .Content .Text::after {
    content: "%";
}
.AppBody .Tooltip .ChartDescription {
    margin: 0;
}

.AppBody .MapContainer {
    
}

.AppBody .MapContainer p {
    margin-top: -10px;
}

.AppBody .MapContainer .Map path {
    stroke: #000;
    stroke-width: 2px;
}
